# URL del proyecto de Supabase
EXPO_PUBLIC_SUPABASE_URL=tu_url_de_supabase_aqui

# Clave pública anónima de Supabase
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu_clave_anonima_de_supabase_aqui

# Clave de API de TMDB (The Movie Database) para el buscador
EXPO_PUBLIC_TMDB_API_KEY=tu_clave_de_api_tmdb_aqui
