# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts
.eas/

# native builds (if prebuilt locally)
ios/
android/

# credentials and keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.keystore

# local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# system files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
